/* new-theme */

.new-theme-border {
  border: 4px solid;
  border-radius: 1em;
  width: 30%;
  margin: auto;
  margin-top: 2em;
  padding: 1em;
}

.new-theme-border .input {
  margin-bottom: 1em;
}

.header-background {
  background-color: #C4FCEF;
  border: 0.5px solid white;
  padding: 1.5em;
  padding-bottom: 0;
  margin-bottom: 1em;
  border-radius: 1rem;
}

.header-background span {
  color: white;
  font-weight: bold;
  background-color: #53eaea;
  padding: 0.5em;
  margin:auto;
  border-radius: 1em;
  align-items: center;
}

.title,
.new-theme-content {
  display: flex;
  flex-direction: column;
}

.new-theme-content {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.new-theme-content textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0;
}

.new-theme-content label {
  margin-bottom: 0.3em;
}

.new-theme-title input {
  width: 55%;
  border-radius: 0.3em;
  padding: 0.35em;
}

button + button {
  margin-left: 1rem;
}

.new-theme-buttons {
  margin-top: 1em;
  text-align: center;
}

.new-theme-buttons button {
  width: 20%;
    margin-top: 10px;
    padding: 2px 2px;
    background: #28503f;
    align-self: center;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    transition: 0.3s;
    border: 2px solid #95bdb0;
}

p.error {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
}

.input-error {
  border-left-color: red;
}
